*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(105, 169, 182, 0.75),rgba(1, 13, 249, 0.75)), url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.logo{
    height: 70px;
    width: auto;
    margin-left: 20px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none; /* gets rid of bullet points */
    display: inline-block; /* displays items next to each other */
    position: relative; /* need this for effect to work or it shows up elsewhere */
    margin-right: 30px;
}

.navbar ul li a{
    text-decoration: none; /* gets rid of underline */
    color: black;
    text-transform: uppercase;

}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: black;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content {
    width: 100%;
    display: flex;
    text-align: center; 
    justify-content: center;
    height: 100vh;
    padding: 20px;
}
